@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 100px;
    margin-left: 15%;
    margin-right: 15%;
}

ul{
    display: flex;
    gap: 24px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content{
    display: flex;
    flex-direction: row;   
}

.content-left{
    margin-left: 16%;
}

.content-right{
    margin-left: auto;
    margin-right: 15%;
}

.content-right figcaption{
    text-align: center;
    color: white;
}

.first-body{
    background-color: #1F2937;
    padding-bottom: 150px;
}

.header{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-main{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    padding: 0px;
    margin-bottom: 0px;
}

.p-first{
    font-size: 18px;
    color: #E5E7EB;
}

.button-first{
    color: white;
    background-color: #3882F6;
    border-color: #3882F6;
    /*border-style: solid;*/
    border-radius: 5px;
    padding: 8px 24px;
    font-weight: bolder;
}

.second-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 100px;
}

.container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.block{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.blue-square{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 20px;
    display: flex;
    flex-flow: row-wrap;
}

.blue-square img{
    width: 100%;
    object-fit: cover; 
    object-position: center;
    border-radius: 15px;
}

.third-body{
    background-color: #E5E7EB;
}